@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/mixins' as mixins;

.container {
  padding: 1.5rem;

  .project-header {
    width: 100%;
  }
  .project-header__title {
    padding: 0.5rem 0;
  }
}

.feature {
  display: flex;
}

.previews {
  border: 1px solid colors.$prim;
  border-radius: 0.5rem;
  width: 50%;
  height: 400px;
  margin: 1rem;
}

.bezels-container {
  @include mixins.flex(row, flex-start, center);

  position: relative;

  .bezels {
    position: relative;
    @include mixins.flex(row, center, flex-end);
  }

  .tablet {
    position: absolute;
    left: 0;
    width: 35%;
  }
  .mobile {
    position: absolute;
    right: 0;
    width: 20%;
  }
}
