@use '../../styles/abstracts/colors' as colors;
@use '../../styles/abstracts/mixins' as mixins;

.project__previews--container {
  @include mixins.flex-row();
}

.project__previews {
  border: 1px solid colors.$text;
  border-radius: 0.5rem;
}
.project__previews-lg {
  height: 250px;
  width: 400px;
}
.project__previews-sm {
  height: 13rem;
  width: 15%;
}

.project__tech {
  display: flex;
}

.project__tech__item {
  padding-left: 1rem;
}
