@use '../../styles/abstracts/colors' as colors;

.feature {
  display: flex;
}

.previews {
  border: 1px solid colors.$prim;
  border-radius: 0.5rem;
  width: 50%;
  height: 400px;
  margin: 1rem;
}
