@use '../../styles/abstracts/colors' as colors;
@use '../../styles/abstracts/variables' as var;
@use '../../styles/abstracts/mixins' as mixins;

.hero {
  height: var.$mainContentHeight;

  @include mixins.flex-column();
  justify-content: center;
}

.greeting,
.name,
.title {
  margin-left: 1rem;
}

.greeting {
  font-size: 1rem;
}

.name {
  font-size: 4rem;
  font-weight: 750;
}
.title {
  color: colors.$prim;
  font-size: 2rem;
  font-weight: 600;
  padding-left: 1rem;
}
.brief {
  color: colors.$sec;
  font-size: 2rem;
  font-weight: 700;
}

.action-button {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 1rem auto;
  color: colors.$contrastText;
  background-color: colors.$prim;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
}
