@use '../../styles/abstracts/colors' as colors;
@use '../../styles/abstracts/variables' as var;
@use '../../styles/abstracts/mixins' as mixins;

.hero {
  position: relative;
  height: var.$mainContentHeight;

  @include mixins.flex-column();
  justify-content: center;
}

.greeting,
.name,
.title {
  margin-left: 1rem;
}

.greeting {
  font-size: 1rem;
}

.name {
  font-size: 4rem;
  font-weight: 750;
}
.title {
  color: colors.$prim;
  font-size: 2rem;
  font-weight: 600;
  padding-left: 1rem;
}
.brief {
  color: colors.$prim;
  font-size: 2rem;
  font-weight: 700;
}

.action-button {
  width: 11rem;

  margin: 1rem auto;
  color: colors.$contrastText;
  background-color: colors.$prim;
  border-radius: 2rem;
}
