@use '../../styles/abstracts/colors' as colors;
@use '../../styles/abstracts/variables' as var;
@use '../../styles/abstracts/mixins' as mixins;

.hero {
  position: relative;
  height: var.$mainContentHeight;

  @include mixins.flex-column();
  justify-content: center;
}

.action-button {
  width: 25%;
}
