$headerHeight: 8vh;
$mainContentHeight: 100vh - $headerHeight;

/* offset-x | offset-y | blur-radius | spread-radius | color */
$headerShadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.05);
$boxShadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
