@use '../../../styles/layout/' as layout;
@use '../../../styles/abstracts/' as abstracts;
@use '../../../styles/util/' as util;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: layout.$headerHeight;
}

.menu-button {
  color: abstracts.$color__ter;

  @include util.breakpoint('>=md') {
    display: none;
  }
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: start;
  display: none;

  @include util.breakpoint('>=md') {
    display: flex;
  }
}
.nav-links__link {
  padding: 0 1rem;
}
