@use '../../../styles/abstracts/colors' as colors;
@use '../../../styles/abstracts/variables' as var;
@use '../../../styles/abstracts/mixins' as mixins;

.header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var.$headerHeight;

  background-color: colors.$headerBg;
  z-index: 1000;
  @include mixins.shadow(0px, 1px, 2.5px, 1px, 0.2);

  @include mixins.breakpoint('>=md') {
    justify-content: space-between;
  }
}

.main-banner {
  width: 100%;
  padding: 0 2rem;

  @include mixins.breakpoint('>=sm') {
    width: fit-content;
  }

  .home-link {
    @include mixins.flex-column();
    justify-content: center;
  }
}

.logo {
  width: 100%;
  @include mixins.flex-row();
  justify-content: center;

  @include mixins.breakpoint('>=sm') {
    // width: 25%;
    justify-content: space-between;
  }
}
.home-icon {
  font-size: 2.5rem;
  @include mixins.breakpoint('>=sm') {
    font-size: 3rem;
  }
  display: flex;
  background-color: colors.$bg;
  border-radius: 50%;
  padding: 0.25rem;
  @include mixins.shadow(0px, 1px, 3px, 0px, 0.1);
}

.menu-button__container {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 1rem;
  @include mixins.flex-column();
  justify-content: center;
  @include mixins.breakpoint('>=md') {
    display: none;
  }

  .menu-button {
    color: colors.$text;
    @include mixins.flex-column();

    .burger-icon {
      font-size: 2rem;
    }
  }
}

.nav {
  display: none;
  @include mixins.breakpoint('>=sm') {
    @include mixins.flex-row();
    width: 50%;
  }
  @include mixins.breakpoint('>=md') {
    @include mixins.flex-row();
    width: 50%;
  }
  @include mixins.breakpoint('>=lg') {
    @include mixins.flex-row();
    width: 35%;
  }
  height: 100%;
  .nav-links {
    width: 100%;
    // on mobile
    display: none;

    @include mixins.action-button-text();
    text-transform: uppercase;

    @include mixins.breakpoint('>=sm') {
      height: 100%;
      margin: 0;
      padding: 0;

      border-bottom: 3px solid colors.$sec;
    }
    @include mixins.breakpoint('>=md') {
      @include mixins.flex-row();
      justify-content: center;
      align-items: center;
    }
    .nav-links__link {
      padding: 0 1rem;
      @include mixins.flex-row();
      align-items: center;

      .social-icon {
        font-size: 1.5rem;
      }
      .nav-icon {
        font-size: 1rem;
      }
    }

    .cv-link {
      .cv-link__text {
        padding: 0 0.25rem;
      }
    }
  }
}
