@use '../../../styles/abstracts/colors' as colors;
@use '../../../styles/abstracts/variables' as var;
@use '../../../styles/abstracts/mixins' as mixins;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0 1rem;
  box-shadow: var.$boxShadow;
  background-color: colors.$bg;
}

.menu-button {
  color: colors.$ter;

  @include mixins.breakpoint('>=md') {
    display: none;
  }
}

.nav-links {
  @include mixins.flex-row();
  display: none;

  @include mixins.breakpoint('>=md') {
    display: flex;
  }
}
.nav-links__link {
  padding: 0 1rem;
}
