@use '../../scss/abstracts/colors' as colors;
@use '../../scss/abstracts/mixins' as mixins;

.container {
  // width: 50%;
}

.button-group {
  @include mixins.flex-row();
  width: 100%;

  .button-divider {
    width: 2px;
    height: 100%;
    background-color: colors.$divider;
  }

  .project-link-button {
    width: 100%;
    // @include mixins.filled-button(colors.$bg--dark, 0.5rem, 1rem, 0.5rem);
    @include mixins.filled-button(colors.$bg--dark, 1rem, 2rem, 1.5rem);
    @include mixins.action-button-text();
    @include mixins.flex(row, center, center);

    .project-link-button__icon {
      @include mixins.flex-row();
      font-size: 1.5rem;
    }

    .project-link-button__text {
      padding: 0 0.5rem;
    }
  }

  .project-link-button--github {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .project-link-button--live {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
