@use '../abstracts/colors' as colors;
@use '../abstracts/variables' as var;
@use '../util/' as util;

body {
  font-size: 18px;
  font-family: util.$font;
  color: colors.$text;

  background: colors.$gradientBg;
}

main {
  margin-top: var.$headerHeight;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
